.container-roster0
    max-width: 768px
    margin: auto
    margin-top: 40px
    margin-bottom: 40px
    @include flexbox-center
    justify-content: space-around

    > div
        height: auto
        width: calc(50% - 2px)
        text-align: center
        border-radius: 3px
        background-color: $white
        align-self: flex-start

        &:first-of-type
            margin-right: 1px

        &:last-of-type
            margin-right: 1px


        > div
            width: 100%
            background-color: transparent

            // franchise icons
            &:first-child > ul
                position: relative
                margin: auto
                height: 60px
                margin: 0px 4px
                width: calc(100% - 8px)
                @include flexbox-center-wrap

                > li
                    list-style: none

                    &.no-show
                        display: none

                    // user icon
                    > i
                        font-size: 20px
                        background-color: $grey
                        color: $white
                        height: 40px
                        width: 40px
                        border-radius: 50%
                        @include flexbox-center

                    // other franchise icon
                    > a i
                        font-size: 18px
                        color: $grey
                        background-color: $white
                        height: 30px
                        width: 30px
                        margin-left: 3px
                        margin-right: 3px
                        border-radius: 50%
                        @include flexbox-center

                    &.active a i, &:hover a i
                        background-color: $grey
                        color: $white
                        height: 30px
                        width: 30px
                        margin-left: 3px
                        margin-right: 3px
                        border-radius: 50%
                        @include flexbox-center

            // player info
            &:nth-child(n+2) > span
                width: 100%
                height: 24px
                text-transform: uppercase
                font-weight: 200
                font-size: 14px
                background-color: transparent
                @include flexbox-center

                &:nth-child(2)
                    display: none

                &:nth-child(2) > span
                    font-weight: 200
                    font-size: 12px
                    padding-top: 3px
                    border-top: 2px solid $off-white

                    &:first-child
                        width: 100%
                        text-align: left
                        padding-left: 16px

                    &:nth-child(n+2)
                        width: 12%
                        text-align: center

                &:nth-child(n+3)
                    border-top: 2px solid $off-white
                    border-bottom: 2px solid $off-white


        .tab-content
            display: none

        // player info
        .tr
            text-align: center

            @include flexbox-center-wrap

            &.rookie > div
                color: darken($light-grey, 10%)

            &.rookie > div > span
                color: darken($light-grey, 10%)

            > div
                height: 32px
                line-height: 32px

                // player name
                &:nth-child(1)
                    width: 100%
                    text-align: left
                    padding-left: 6px

                    span
                        font-size: 15px

                        // injury icon
                        + span
                            color: $injury-red
                            position: relative
                            top: 2px
                            font-weight: 300
                            display: inline

                // info
                &:nth-child(n+2)
                    display: none
                    width: 12%
                    text-align: center
                    text-transform: uppercase
                    font-weight: 200

@media only screen and (min-width: 375px)
    .container-roster0
        > div
            > div
                // franchise icons
                &:first-child > ul
                    > li
                        // other franchise icon
                        > a i
                            margin-left: 6px
                            margin-right: 6px

                        &.active a i, &:hover a i
                            margin-left: 6px
                            margin-right: 6px

            .tr
                > div
                    // player name
                    &:nth-child(1)
                        padding-left: 8px

                        span
                            font-size: 16px

                            // injury icon
                            + span
                                margin-left: 2px

@media only screen and (min-width: 414px)
    .container-roster0
        > div
            > div
                // franchise icons
                &:first-child > ul
                    > li
                        // other franchise icon
                        > a i
                            margin-left: 9px
                            margin-right: 9px

                        &.active a i, &:hover a i
                            margin-left: 9px
                            margin-right: 9px

            .tr
                > div
                    // player name
                    &:nth-child(1)
                        padding-left: 8px

                        span
                            font-size: 18px

                            // injury icon
                            + span
                                margin-left: 4px

@media only screen and (min-width: 507px)
    .container-roster0
        > div
            > div
                // franchise icons
                &:first-child > ul
                    @include flexbox-center
                    justify-content: space-around

                    > li
                        // other franchise icon
                        > a i
                            margin-left: 0px
                            margin-right: 0px

                        &.active a i, &:hover a i
                            margin-left: 0px
                            margin-right: 0px

                // player info
                &:nth-child(n+2) > span
                    &:nth-child(2)
                        display: flex

                    &:nth-child(2) > span
                        &:first-child
                            width: 76%

                        &:nth-child(n+2)
                            width: 12%

            // player info
            .tr
                > div
                    // player name
                    &:nth-child(1)
                        width: 76%
                        padding-left: 8px

                        span
                            // injury icon
                            + span
                                margin-left: 3px

                    // info
                    &:nth-child(n+2)
                        display: inline
                        width: 12%

@media only screen and (min-width: 720px)
    .container-roster0
        max-width: 736px

        > div
            height: auto
            width: calc(50% - 16px)
            text-align: center
            border-radius: 3px
            background-color: $white
            align-self: flex-start

            &:first-of-type
                margin-right: 8px

            &:last-of-type
                margin-right: 8px

            > div
                // franchise icons
                &:first-child > ul
                    > li
                        // other franchise icon
                        > a i
                            font-size: 20px
                            height: 40px
                            width: 40px

                        &.active a i, &:hover a i
                            height: 40px
                            width: 40px

            // player info
            .tr
                > div
                    // player name
                    &:nth-child(1)
                        padding-left: 16px

                        span
                            // injury icon
                            + span
                                margin-left: 3px
